             <ul class="nav nav-list" >
              <li class=""> <h4>Launch Pad </h4></li><hr>
              <li>
                <address>
                <strong> Ryan </strong> purchased Sony Bravia 50"<br>
                Price: Rs.50000 <br>
                Manufacturer: Sony Inc.<br>
                
                
                </address>
              </li>
              <li class="divider"> </li>
              <li>
                <address>
                <strong> Ryan </strong> purchased Sony Bravia 50".<br>
                Price: Rs.50000 <br>
                Manufacturer: Sony Inc.<br>
                
                
                </address>
              </li>
              <li class="divider"> </li>
              <li>
                <address>
                <strong> Anshuman </strong> purchased Hero Honda.<br>
                Price: Rs.500 <br>
                Manufacturer: Hero Honda<br>
                
                
                </address>
              </li>
              <li class="divider"> </li>
              <li>
                <address>
                <strong> Shivendra </strong> purchased Private Jet :P<br>
                Price: Undisclosed <br>
                Manufacturer: Boing Corp.<br>
                
                
                </address>
              </li>
              <li class="divider"> </li>
              <li>
                <address>
                <strong> Samsung Galaxy S3 </strong> now in stock.<br>
                Price: Rs.50000 <br>
                Manufacturer: samsung Pvt. Ltd.<br>
                
                
                </address>
              </li>                          
          </ul>