<section class="span3" id="sidebar">
          <section class="well sidebar-nav" role="activity stream" id="recent_activity">
            <%= render partial: 'activity_items/recent' %>

          </section><!--/.well -->
        </section>