       
        <section id="sidebar" class="span2">

          <div class="well sidebar-nav">

            <ul class="nav nav-list" >
              <li> <a href="#"> <img class="img-polaroid" style="width: 140px; height: 140px;" data-src="holder.js/140x140" src="assets/pic.png"> </img> </a></li>
              <li><a href="#"> <h4> <%= link_to current_user.profile.name,  profile_path(4) %></h4></li>
               <li class="divider"> </li>
              <li class="nav-header">Social</li>
              <li><a href="#"><i class="icon-inbox"></i> Inbox</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-group"></i> Friends </a> </li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-tags"></i> Brands</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-star"></i> Wishlist</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-credit-card"></i> My Purchases</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-eye-open"></i> Watching</i></a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-heart"></i> Instinct</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-magnet"> </i> Pools</a></li>
              <li class="divider"> </li>
              <li><a href="#"><i class="icon-trophy"></i> Achievements</a></li>
              </ul>
          </div><!--/.well -->
        </section>

        <!--/span-->